body {
  background-color: #000;
  background-image: url('http://i.imgur.com/EuonNBO.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-family: Optima, Avant Garde, Calibri, Arial;
  color: #fff;
  text-align: center;
}

.wrapper {
  position: center;
  max-width: 90%;
  max-height: 90%;
  margin: 10% auto;
}

.wrapper a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
/*  border: 1px solid yellow; */
  font-size: 1.5em;
}

.wrapper a:hover {
  text-decoration: underline;
}

#name {
  font-size: 4em;
}
#title {
  font-size: 2em;
}
#address {
  font-size: 1.5em;
}
