html {
  overflow-y: scroll; }

body {
  background-color: #ffca94;
  margin: 0px;
  padding: 0px;
  font-family: 'open Sans', Helvetica;
  font-weight: bold;
  line-height: 75px;
  margin: 50px auto;
  width: 90%;}

h3 {
  font-size: 36px;
  font-color: #ffcce0; }
